@font-face {
  font-family: "Roboto_black";
  src: url(../Fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../Fonts/Roboto-Condensed.ttf);
}
* {
  margin: 0;
  padding: 0;
  background-color: #0f056b;
}
