@font-face {
  font-family: "Roboto_black";
  src: url(../Fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../Fonts/Roboto-Condensed.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f056b;
}

.home-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
}

.home-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Roboto_black";
}

h1 {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.button_port {
  display: block;
  margin-top: 10px;
  text-align: center;
  background-color: #ffffff;
  color: #0f056b;
  border-radius: 2rem;
}

.navbar {
  background-color: #ffffff;
  margin: 10px;
  margin-top: 0;
  padding: 25px;
  font-family: "Roboto";
  border-radius: 2rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.navbar a:hover {
  color: #0f056b;
  text-decoration: underline;
}

.projetlist {
  text-align: center;
  color: #ffffff;
  font-family: "Roboto_black";
}

.projetlist {
  text-align: center;
}

.project-cards-container {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 2rem;
  max-width: 80px;
  margin: auto;
  margin-top: 2rem;
}

.projet-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
  width: 10rem;
  height: 10rem;
  font-family: "Roboto";
}

.projet-card h2 {
  margin: 1rem;
}

.adminbutt {
  padding: 1rem;
  margin: 4rem;
  color: #0f056b;
  margin-bottom: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-family: "Roboto";
}
.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Roboto";
}
.title {
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Roboto_black";
}
label {
  margin: 10px;
  display: flex;
  text-align: center;
  display: block;
}

.Projet {
  text-align: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Roboto";
}

.Projet h1 {
  font-family: "Roboto_black";
}

.Projet label {
  background-color: #ffffff;
  padding: 1rem;
  margin: auto;
  width: 8rem;
  border-radius: 2rem;
  color: #0f056b;
  white-space: nowrap;
}

.Projet p {
  margin: 1rem;
}

.Projet h1 {
  margin: 1rem;
}

.Projet a {
  color: #ffffff;
}

.screen {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin: 1rem;
  border-radius: 1rem;
}
.contact {
  padding: 1rem;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto";
}

.form-contact {
  padding: 1rem;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto";
}

.logo {
  margin: 0;
  padding: 0;
  height: 250px;
  width: 250px;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  margin: 0 auto;
  padding: 3rem;
  font-family: "Roboto";
  color: #ffffff;
}

@media (max-width: 768px) {
  img {
    object-fit: cover;
    object-position: 70%;
  }
  .project-cards-container {
    grid-template-columns: 1fr;
    margin-top: 1rem;
    justify-content: center;
  }
  .screen {
    width: 80%;
    max-width: none;
  }
}
